*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;    
}

body{
    min-width: min-content;  
    border-color: 10px solid red;
}
.heading{
    background-color: black;
    animation: heading-load .7s ease-in;
}
.header{
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 120px;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
}
@keyframes heading-load{
    0%{
        transform: translateY(-100%);
        opacity: 0.3;
    }
    50%{
        opacity:0.5
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
/*Logo Pic*/
.header-logo-pic{
    margin-left: 30px;
    height: 80px;  
}
.header-logo-pic a{
    display: flex;
}
.logo-pic{
    height: 85px;
    width: 111px;
}
.name{
    align-items: center;
    display: inline-flex;
    color: whitesmoke;
    inline-size: max-content;
    margin-right: 334px;     
    /* Pag tinangal display:none dapat tangalin yung 
    margin-right: 659px; sa .logo-pic*/
    font-family: Rochester;
    letter-spacing: 3px;
}

.header-buttons{
    display: flex;
    align-items: center;
    margin-right: 100px;
    margin-left: 50px;
}
/*Buttons*/
.home-products-about-contacts-btn{
    background-color: black;
    color: rgb(110, 110, 110);
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    font-weight: 700;
    font-size: medium;
    border: none;
    transition: color .3s, text-decoration .5s, background-color .5s;

}

.home-products-about-contacts-btn:hover{
    background-color: rgb(180, 124, 72);
    color: whitesmoke;
}
     



main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
}
main span{
    font-family: Rochester;
    text-align: center;
    font-size: 52px;
    color: whitesmoke;
    margin-top: 30px;
    margin-bottom: 0;
    letter-spacing: 2px;
}
main .span2{
    font-family: Rochester;
    text-align: center;
    font-size: 52px;
    color: whitesmoke;
    margin-top: 70px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
main .span3{
    font-family: Rochester;
    text-align: center;
    font-size: 52px;
    color: whitesmoke;
    margin-top: 100px;
    margin-bottom: 10px;
}












.top-products{
    height: 900px;
    width: 810px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
    padding: 30px 30px;
    column-gap: 10px;
    row-gap: 50px;
}
.products{
    width: 100%;
    height: 80%;
    align-items: center;
    animation: products-animation 0.8s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    transform: scale(0);
    opacity: 0;
}
@keyframes products-animation{
    10%{
        opacity: 0.1;
        transform: scale(0.1);
    }
    20%{
        opacity: 0.2;
        transform: scale(0.2);
    }
    30%{
        opacity: 0.3;
        transform: scale(0.3);
    }
    40%{
        opacity: 0.4;
        transform: scale(0.4);
    }
    50%{
        opacity: 0.5;
        transform: scale(0.5);
    }
    60%{
        opacity: 0.6;
        transform: scale(0.6);
    }
    70%{
        opacity: 0.7;
        transform: scale(0.7);
    }
    80%{
        opacity: 0.8;
        transform: scale(0.8);
    }
    90%{
        opacity: 0.9;
        transform: scale(0.9);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.products img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5%;
}
.products .products-info{
    font-family: Special Elite;
    width: 100%;
    text-align: center;
    font-size: 21px;
    cursor: default;
    letter-spacing: 3px;
    line-height: 30px;
    margin-top: 4%;

}

.torani-syrup-series{
    height: 700px;
    width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    row-gap: 20px;
}
.torani-sauce{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.torani-sauce img{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    animation: torani-sauce-pic-animation 0.8s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    transform: translateX(-40%);
    opacity: 0;
}
@keyframes torani-sauce-pic-animation{
    10%{
        opacity: 0.1;
        transform: translateX(-36%);
    }
    20%{
        opacity: 0.2;
        transform: translateX(-32%);
    }
    30%{
        opacity: 0.3;
        transform: translateX(-28%);
    }
    40%{
        opacity: 0.4;
        transform: translateX(-24%);
    }
    50%{
        opacity: 0.5;
        transform: translateX(-20%);
    }
    60%{
        opacity: 0.6;
        transform: translateX(-16%);
    }
    70%{
        opacity: 0.7;
        transform: translateX(-12%);
    }
    80%{
        opacity: 0.8;
        transform: translateX(-8%);
    }
    90%{
        opacity: 0.9;
        transform: translateX(-4%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

.torani-sauce-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10%;
    animation: torani-sauce-content-animation 0.8s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    transform: translateX(30%);
    opacity: 0;
}
@keyframes torani-sauce-content-animation{
    10%{
        opacity: 0.1;
        transform: translateX(27%);
    }
    20%{
        opacity: 0.2;
        transform: translateX(24%);
    }
    30%{
        opacity: 0.3;
        transform: translateX(21%);
    }
    40%{
        opacity: 0.4;
        transform: translateX(18%);
    }
    50%{
        opacity: 0.5;
        transform: translateX(15%);
    }
    60%{
        opacity: 0.6;
        transform: translateX(12%);
    }
    70%{
        opacity: 0.7;
        transform: translateX(9%);
    }
    80%{
        opacity: 0.8;
        transform: translateX(6%);
    }
    90%{
        opacity: 0.9;
        transform: translateX(3%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

.torani-sauce-content span{
    font-size: 40px;
    font-family: Rubik Vinyl;
}
.classes1 p{
    text-align: center;
    font-family: Special Elite;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 3px;
}






.name1{
    font-size: 32px;
    font-family: Rubik Vinyl;
    margin-bottom: 10px;
}







.torani-syrup{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.torani-syrup img{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    animation: torani-syrup-pic-animation 0.8s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    transform: translateX(30%);
    opacity: 0;
}
@keyframes torani-syrup-pic-animation{
    10%{
        opacity: 0.1;
        transform: translateX(27%);
    }
    20%{
        opacity: 0.2;
        transform: translateX(24%);
    }
    30%{
        opacity: 0.3;
        transform: translateX(21%);
    }
    40%{
        opacity: 0.4;
        transform: translateX(18%);
    }
    50%{
        opacity: 0.5;
        transform: translateX(15%);
    }
    60%{
        opacity: 0.6;
        transform: translateX(12%);
    }
    70%{
        opacity: 0.7;
        transform: translateX(9%);
    }
    80%{
        opacity: 0.8;
        transform: translateX(6%);
    }
    90%{
        opacity: 0.9;
        transform: translateX(3%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

.torani-syrup-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    animation: torani-syrup-content-animation 0.8s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    transform: translateX(-40%);
    opacity: 0;
}
@keyframes torani-syrup-content-animation{
    10%{
        opacity: 0.1;
        transform: translateX(-36%);
    }
    20%{
        opacity: 0.2;
        transform: translateX(-32%);
    }
    30%{
        opacity: 0.3;
        transform: translateX(-28%);
    }
    40%{
        opacity: 0.4;
        transform: translateX(-24%);
    }
    50%{
        opacity: 0.5;
        transform: translateX(-20%);
    }
    60%{
        opacity: 0.6;
        transform: translateX(-16%);
    }
    70%{
        opacity: 0.7;
        transform: translateX(-12%);
    }
    80%{
        opacity: 0.8;
        transform: translateX(-8%);
    }
    90%{
        opacity: 0.9;
        transform: translateX(-4%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

.torani-syrup-content span{
    font-size: 40px;
    font-family: Rubik Vinyl;
}
.classes2 p{
    text-align: center;
    font-family: Special Elite;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 3px;
}



.others{
    margin: 0 auto;
    width: 1080px;
    height: 550px;
    margin-bottom: 100px;
}
.other-coffee{
    width: 100%;
    height: 100%;
}
.other-coffee img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    animation: other-coffee-pic-animation 1.2s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
    transform: rotate(360deg);
    transform: scale(0);
    opacity: 0;
}
@keyframes other-coffee-pic-animation {
    10%{
        opacity: 0.1;
        transform: scale(0.1);
        transform: rotate(320deg);
    }
    20%{
        opacity: 0.2;
        transform: scale(0.1);
        transform: rotate(290deg);
    }
    30%{
        opacity: 0.3;
        transform: scale(0.2);
        transform: rotate(250deg);
    }
    40%{
        opacity: 0.4;
        transform: scale(0.3);
        transform: rotate(220deg);
    }
    50%{
        opacity: 0.5;
        transform: scale(0.4);
        transform: rotate(180deg);
    }
    60%{
        opacity: 0.6;
        transform: scale(0.5);
        transform: rotate(150deg);
    }
    70%{
        opacity: 0.1;
        transform: scale(0.6);
        transform: rotate(120deg);
    }
    10%{
        opacity: 0.7;
        transform: scale(0.7);
        transform: rotate(70deg);
    }
    80%{
        opacity: 0.8;
        transform: scale(0.8);
        transform: rotate(45deg);
    }
    90%{
        opacity: 0.9;
        transform: scale(0.9);
        transform: rotate(30deg);
    }
    100%{
        opacity: 1;
        transform: scale(1);
        transform: rotate(0deg);
    }
}


@media (max-width: 500px)
{
    body{
        width: 500px;
        -moz-text-size-adjust: auto;
        
    }
    .header{
        flex-direction: column;
        height: 100px;
        
    }
    .header-logo-pic{
        margin: 0 auto;
        height: 1px;    
    }
    /*Logo Pic*/
    .logo-pic{
        height: 63px;
        width: 67px;
        position: absolute;
        top: 17px;
        left: 12px;
        margin: 0 auto;
    }
    .name{
        font-size: 25px;
        margin-right: 0;
        margin-top: 15px;
        display: flex;
        letter-spacing: 3px;
    }
    .header-buttons{
        margin: 0px;
        font-size: 1px;
    }
    /*Buttons*/
    .home-products-about-contacts-btn{
        margin: 0px 7px 5px 7px;
        font-weight: 800;
        font-size: 15px;
        padding-bottom: 7px;
        margin-bottom: 10px;
        
    }
    main span{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .top-products{
        width: 500px;
        height: 630px;
        place-content: center;
        margin: 0 auto;
        grid-template-rows: 290px 290px;
        border-bottom: 1px solid rgb(212, 182, 154);
        row-gap: 10px;
    }
    .products img{
        height: 220px;
    }
    .products .products-info{
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 18px;
        margin-top: 2%;
    }
    main .span2{
        font-size: 20px;
        letter-spacing: 2px;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .torani-syrup-series{
        width: 500px;
        place-content: center;
        margin: 0 auto;
        grid-template-rows: 430px 305px;
        margin-top: 5%;
    }
    .torani-sauce{
        padding: 7%;
        padding-top: 0;
        flex-direction: column;
        height: 400px;
        justify-content: center;
        
        
    }
    .torani-sauce img{
        margin: 0 auto;
        height: 212px;
        width: 367px;
    }
    .torani-sauce-content{
        margin: 0 auto;
        padding: 0;

    }
    .torani-sauce-content span{
        margin-top: 7%;
        font-size: 20px;
        letter-spacing: 3px;
    }
    .classes1 p{
        font-size: 15px;
        margin-top: 2%;
        letter-spacing: 2px;
        line-height: 20px;
        
    }
    .name1{
        font-size: 15px;
        margin-top: 2%;
        letter-spacing: 2px;
        margin-bottom: 5%;
    }
    .torani-syrup{
        flex-direction: column-reverse;
        margin-top: 10%;
        place-items: center;
        border-bottom: 1px solid rgb(212, 182, 154);
        padding-bottom: 5%;
    }
    .torani-syrup img{
        margin: 0 auto;
        height: 212px;
        width: 367px;
    }
    .torani-syrup-content {
        margin: 0 auto;
        padding: 0 ;
    }
    .torani-syrup-content span{
        margin-top: 7%;
        font-size: 20px;
        letter-spacing: 3px;
    }
    .classes2 p{
        margin-top: 2%;
        font-size: 15px;
        margin-top: 2%;
        letter-spacing: 2px;
        line-height: 20px;
        
    }
    main .span3{
        font-size: 20px;
        margin: 0;
        margin-top: 20%;
        margin-bottom: 5%;
    }
    .others{
        margin: 0 auto;
        padding: 0;
        display: contents;
    }
    .other-coffee{
        padding-left: 4%;
        padding-right: 4%;
        margin-bottom: 10%;
    }

}