:root{ 
    scroll-behavior: smooth;
    --color-text: rgb(180, 124, 72);
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-color: rgb(30, 30, 30);
    color: white;
    position: relative;
    font-family: "Atkinson Hyperlegible Next", serif;
    font-optical-sizing: auto;
    padding-bottom: 300px;
}

header{
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
    border-color: var(--color-text);
    z-index: 100;

    position: fixed;
    z-index: 100;
}

header .positioning{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    object-fit: contain;
    width: 80%;
}

header .positioning img{
    height: 80px;
    width: 100%;
    max-width: 100%;
}

header .positioning .redirect-buttons{
    max-width: 100%;
}

header .positioning .redirect-buttons ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

header .positioning .redirect-buttons ul li{
    list-style-type: none;
    padding-right: 20px;
    box-sizing: border-box;
    cursor: pointer;
}








main{
    padding-top: 30px;
}






main .about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(53, 53, 53);
    margin-top: 100px;
}

main .about-section .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

main .about-section .about-section-image{
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}

main .about-section .about-section-image img{
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

main .about-section .about-section-info{
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px;
}






main .certificate-section{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin-top: 100px;
}

main .certificate-section .positioning{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 80%;
    max-width: 100%;
    font-size: 32px;
}

main .certificate-section .certificate-image{
    text-align: center;
}

main .certificate-section .certificate-image span{
    color: var(--color-text);
    font-weight: 700;
}

main .certificate-section .certificate-image img{
    height: 100%;
    object-fit: contain;
    transition: scale 0.3s;
}

main .certificate-section .certificate-image img:hover{
    scale: 1.02;
}














main .reviews-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin-top: 100px;
}

main .reviews-section .positioning{
    text-align: center;
    width: 70%;
    max-width: 100%;
}

main .reviews-section .positioning div{
    border: solid;
    border-color: var(--color-text);
    border-width: 0.2;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 25px;
    width: 100%;
    max-width: 100%;
}