:root{ 
    scroll-behavior: smooth;
    --color-text: rgb(180, 124, 72);
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-color: rgb(30, 30, 30);
    color: white;
    position: relative;
    font-family: "Atkinson Hyperlegible Next", serif;
    font-optical-sizing: auto;
    padding-bottom: 300px;
}

header{
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
    border-color: var(--color-text);
    z-index: 100;

    position: fixed;
    z-index: 100;
}

header .positioning{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    object-fit: contain;
    width: 80%;
}

header .positioning img{
    height: 80px;
    width: 100%;
    max-width: 100%;
}

header .positioning .redirect-buttons{
    max-width: 100%;
}

header .positioning .redirect-buttons ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

header .positioning .redirect-buttons ul li{
    list-style-type: none;
    padding-right: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

/* ----------------------------------------------- */

main{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    overflow: hidden;
}

main form{
    padding: 30px;
    background: transparent;
    border: solid thin;
    border-color: var(--color-text);
}

main form input{
    width: 100%;
    max-width: 100%;
    padding: 8px 12px;
    box-sizing: border-box;
    outline: none;
    margin-top: 5px;
    margin-bottom: 15px;
    border: solid thin;
    font-size: 16px;
}

main form input:focus{
    border-color: var(--color-text);
}

main form input[type="submit"]{
    cursor: pointer;
    width: 120px;
    padding: 15px 15px;
    background-color: var(--color-text);
    color: white;
    border: none;
    transition: scale 0.3s ease-in, opacity 0.3s;
}

input[type="submit"]:hover{
    scale: 1.05;
}

input[type="submit"]:focus{
    opacity: 0.5;
}

